# Web Scraping Car Details

In [9]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\booba\Downloads\chromedriver\chromedriver.exe") 
time.sleep(3)
url = "https://www.olx.in/items/q-used-car?isSearchCall=true"
driver.get(url)
time.sleep(2)

In [10]:
# scrape all product urls
Cars_urls = []
start=0
end=100
for page in range(start,end):#for loop for scrapping 10 page
    url=driver.find_elements_by_xpath('//a[@class="fhlkh"]')       #scraping urls
    for i in url:
        Cars_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    nxt_button=driver.find_element_by_xpath("//div[@class='JbJAl']//button[@data-aut-id='btnLoadMore']") 
    nxt_button.click()
    time.sleep(10)

In [12]:
#Make empty lists
Brand = []   
Model = []
Variant=[]
Year = []
Fuel = []
Transmission = []
Driven_KM = []
No_Of_Owner = []
Location = [] 
Price = []

In [14]:
for url in Cars_urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Brand from xpath
    try:
        brand = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_make"]')      
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append('-')    

    time.sleep(1)
    # Extracting Model from xpath
    try:
        model = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_model"]')      
        Model.append(model.text)
    except NoSuchElementException:
        Model.append('-')

    time.sleep(1) 
    # Extracting Variant from xpath
    try:
        variant = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_variant"]')      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')

    time.sleep(1)
    # Extracting Year from xpath    
    try:
        year = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_year"]')  
        Year.append(year.text)
    except NoSuchElementException:
        Year.append('-')

    time.sleep(1)
    # Extracting Fuel from xpath
    try:
        fuel= driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_petrol"]')  
        Fuel.append(fuel.text)
    except NoSuchElementException:
         Fuel.append('-')

    time.sleep(1)
    # Extracting Transmission from xpath    
    try:
        transmission = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_transmission"]')  
        Transmission.append(transmission.text)
    except NoSuchElementException:
        Transmission.append('-')

    time.sleep(1)
    # Extracting Driven_KM from xpath
    try:
        driven_KM = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_mileage"]')  
        Driven_KM.append(driven_KM.text)
    except NoSuchElementException:
        Driven_KM.append('-')

    time.sleep(1)
    # Extracting No_Of_Owner from xpath
    try:
        no_Of_Owner = driver.find_element_by_xpath('//div[@class="_2ECXs"]/span[@data-aut-id="value_first_owner"]')  
        No_Of_Owner.append(no_Of_Owner.text)
    except NoSuchElementException:
        No_Of_Owner.append('-')

    time.sleep(1)
    # Extracting Location from xpath         
    try:
        location= driver.find_element_by_xpath('//div[@class="_2A3Wa"]/span[@class="_2FRXm"]')  
        Location.append(location.text)
    except NoSuchElementException:
        Location.append('-')

    time.sleep(1)
    # Extracting Price from xpath    
    try:
        price = driver.find_element_by_xpath('//section[@class="_2wMiF"]/span[@class="_2xKfz"]')  
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-') 

time.sleep(2)    
# Make dataframe
prod_df = pd.DataFrame({'Brand':Brand,'Model':Model,'Variant':Variant,'Year':Year,'Fuel':Fuel,
                        'Transmission':Transmission,'Driven_KM':Driven_KM,'No_Of_Owner':No_Of_Owner,
                        'Location':Location,'Price':Price})
prod_df.head(5)

,Brand,Model,Variant,Year,Fuel,Transmission,Driven_KM,No_Of_Owner,Location,Price
0,-,-,-,-,-,-,-,-,"Anna Nagar, Chennai, Tamil Nadu","₹ 2,500"
1,Hyundai,i20,Sportz 1.2 BS-IV,2013,Petrol,Manual,"26,000 km",1st,"Kolkata GPO, Kolkata, West Bengal","₹ 3,60,000"
2,-,-,-,-,-,-,-,-,"BHANUGUDI, Kakinada, Andhra Pradesh",
3,-,-,-,-,-,-,-,-,-,-
4,Hyundai,i20,Sportz 1.2 BS-IV,2013,Petrol,Manual,"26,000 km",1st,"Kolkata GPO, Kolkata, West Bengal","₹ 3,60,000"

In [16]:
df.to_csv("Used_Car_Details.csv")